{%- assign static_cart = false -%}
{% comment %}
  {%- if cart.items.size < 3 -%}
    {%- assign static_cart = true -%}
  {%- endif -%}
{% endcomment %}
{%- if additional_checkout_buttons and settings.cart_additional_buttons -%}
  {%- assign static_cart = false -%}
{%- endif -%}
<div id="CartDrawer" class="drawer drawer--cart{% if static_cart %} drawer--cart--static{% endif %}" data-drawer="true">
  <form
    id="CartDrawerForm"
    action="{{ routes.cart_url }}"
    method="post"
    novalidate
    class="drawer__contents{% if cart.items.size == 0 %} cart--empty{% endif %}"
  >
    <div class="drawer__header">
      <div class="drawer__header-title">
        {{ 'cart.general.title_drawer' | t }}
      </div>
      <div class="drawer__close text-right">
        <button type="button" class="drawer__close-button js-drawer-close">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
            <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/>
          </svg>
          <span class="icon__fallback-text">{{ 'cart.general.close_cart' | t }}</span>
        </button>
      </div>
    </div>
    {%- if settings.cart_success_message != blank -%}
      <div class="d-none cartDrawerSuccessMessage">
        <div class="cart-drawer__success-message flex-align-center">
          <div class="cart-drawer__success-message-icon">
            {% render 'icon', icon: 'checkmark-solid' %}
          </div>
          <div class="cart-drawer__success-message-text flex-1">
            {{ settings.cart_success_message }}
          </div>
        </div>
      </div>
    {%- endif -%}
    <div class="drawer__inner">
      {% render 'Free-Shipping-Bar', cart: cart %}
      <div class="drawer__scrollable">
        <div data-products></div>

        <div class="cart-drawer--upsells">
          {%- if settings.show_app_upsell -%}
            {% comment %} InCartUpsell and Cross-Sell app: AJAX Cart DOM Selector {% endcomment %}
            <div class="cart-drawer--upsell-mount cartUpsellMount"></div>
          {%- endif -%}

          <div class="cart-drawer--upsells-gifts cartDrawerUpsells">
            {%- if settings.cart_upsells_freegifts_header != blank -%}
              <div class="cart-drawer--upsells-title">
                {{ settings.cart_upsells_freegifts_header }}
              </div>
            {%- endif -%}

            <div class="cart-drawer--upsells-items">
              {%- if settings.cart_freegift_1_threshold != blank and settings.cart_freegift_1_product != blank -%}
                {% render 'cart-drawer-upsell-item',
                  threshold: settings.cart_freegift_1_threshold,
                  product: settings.cart_freegift_1_product
                %}
              {%- endif -%}

              {%- if settings.cart_freegift_2_threshold != blank and settings.cart_freegift_2_product != blank -%}
                {% render 'cart-drawer-upsell-item',
                  threshold: settings.cart_freegift_2_threshold,
                  product: settings.cart_freegift_2_product
                %}
              {%- endif -%}
            </div>
          </div>
        </div>

        {%- if settings.cart_notes_enable -%}
          <div class="cart__note" data-cart-note-container>
            <label for="CartDrawerSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea
              name="note"
              class="input-full"
              id="CartDrawerSpecialInstructions"
              data-cart-note
            >{{ cart.note }}</textarea>
          </div>
        {%- endif -%}
      </div>

      <div class="drawer__footer cart__footer">
        <div data-discounts>
          {% if cart.cart_level_discount_applications != blank %}
            <div class="cart__item-sub cart__item-row">
              <div>{{ 'cart.general.discounts' | t }}</div>
              <div class="text-right">
                {% for cart_discount in cart.cart_level_discount_applications %}
                  <div>{{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})</div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>

        <div class="cart__item-sub cart__item-row">
          <div class="cart__subtotal">{{ 'cart.general.subtotal' | t }}</div>
          <div data-subtotal>{{ cart.total_price | money }}</div>
        </div>

        <div class="cart__item-row cart__note text-center">
          {{ 'cart.general.shipping_at_checkout' | t }}
        </div>

        {%- if settings.cart_terms_conditions_enable -%}
          <p class="cart__note cart__terms">
            <input type="checkbox" id="CartTermsDrawer" class="cart__terms-checkbox">
            <label for="CartTermsDrawer">
              {%- if settings.cart_terms_conditions_page != blank -%}
                {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_page.url }}
              {%- else -%}
                {{ 'cart.general.terms' | t }}
              {%- endif -%}
            </label>
          </p>
        {%- endif -%}

        <button
          type="submit"
          class="btn btn--full cart__checkout cart__checkout--drawer"
          name="checkout"
          data-terms-required="{{ settings.cart_terms_conditions_enable }}"
        >
          <span>{{ 'cart.general.checkout' | t }}</span>
        </button>

        {%- if additional_checkout_buttons and settings.cart_additional_buttons -%}
          <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {%- endif -%}

        <div class="cart__drawer-advantages">
          <div class="cart__drawer-advantages-row">
            {%- if settings.cart_advantage_icon_1 != blank or settings.cart_advantage_text_1 != blank -%}
              <div class="cart__drawer-advantages-item">
                {%- if settings.cart_advantage_icon_1 != blank -%}
                  <div class="cart__drawer-advantages-item-icon">
                    <img
                      src="{{ settings.cart_advantage_icon_1 | img_url: 'master' }}"
                      alt="{{ settings.cart_advantage_text_1 | escape }}"
                    >
                  </div>
                {%- endif -%}
                {%- if settings.cart_advantage_text_1 != blank -%}
                  <div class="cart__drawer-advantages-item-text">
                    {{ settings.cart_advantage_text_1 }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- if settings.cart_advantage_icon_2 != blank or settings.cart_advantage_text_2 != blank -%}
              <div class="cart__drawer-advantages-item">
                {%- if settings.cart_advantage_icon_2 != blank -%}
                  <div class="cart__drawer-advantages-item-icon">
                    <img
                      src="{{ settings.cart_advantage_icon_2 | img_url: 'master' }}"
                      alt="{{ settings.cart_advantage_text_2 | escape }}"
                    >
                  </div>
                {%- endif -%}
                {%- if settings.cart_advantage_text_2 != blank -%}
                  <div class="cart__drawer-advantages-item-text">
                    {{ settings.cart_advantage_text_2 }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- if settings.cart_advantage_icon_3 != blank or settings.cart_advantage_text_3 != blank -%}
              <div class="cart__drawer-advantages-item">
                {%- if settings.cart_advantage_icon_3 != blank -%}
                  <div class="cart__drawer-advantages-item-icon">
                    <img
                      src="{{ settings.cart_advantage_icon_3 | img_url: 'master' }}"
                      alt="{{ settings.cart_advantage_text_3 | escape }}"
                    >
                  </div>
                {%- endif -%}
                {%- if settings.cart_advantage_text_3 != blank -%}
                  <div class="cart__drawer-advantages-item-text">
                    {{ settings.cart_advantage_text_3 }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>

        {% comment %}
          Uncomment to show continue shopping button
        {% endcomment %}
        {% comment %}
          <a href="{{ routes.all_products_collection_url }}" class="btn btn--secondary btn--full">
            {{ 'cart.general.continue_shopping' | t }}
          </a>
        {% endcomment %}
      </div>
    </div>
    <div class="drawer__cart-empty text-center">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p class="rte">{{ 'cart.general.continue_browsing_html' | t: url: routes.all_products_collection_url }}</p>
    </div>
  </form>
</div>
