<div class="site-nav site-nav--icons">
  <div class="site-nav__icons">
    {%- if section.settings.header_search_enable -%}
      <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-modal-open-search-modal icon-search-new js-no-transition{% if menu_alignment == 'center' or menu_alignment == 'center-split' %} medium-up--hide{% endif %} small--hide">
        {% comment %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg> {% endcomment %}
        <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M41 12C25.0208 12 12 25.0208 12 41C12 56.9792 25.0208 70 41 70C47.9115 70 54.2656 67.5573 59.2552 63.5L78.8802 83.1198C79.6302 83.9063 80.75 84.2188 81.8021 83.9479C82.849 83.6719 83.6719 82.849 83.9479 81.8021C84.2188 80.75 83.9063 79.6302 83.1198 78.8802L63.5 59.2552C67.5573 54.2656 70 47.9115 70 41C70 25.0208 56.9792 12 41 12ZM41 18C53.7396 18 64 28.2604 64 41C64 47.2031 61.5521 52.8125 57.5833 56.9427C57.3385 57.1198 57.1198 57.3385 56.9427 57.5833C52.8125 61.5521 47.2031 64 41 64C28.2604 64 18 53.7396 18 41C18 28.2604 28.2604 18 41 18Z" fill="#2D2D2D"/>
        </svg>
           <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
      </a>
    {%- endif -%}

    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon small--hide1 account-icon" href="{{ routes.account_url }}">
        {% comment %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-user" viewBox="0 0 64 64"><path d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.41 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.75 2.7 9.51 6 11.41v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16z"/></svg> {% endcomment %}
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-user-alt" viewBox="0 0 29 29"><path d="M14.5 0C6.49934 0 0 6.49934 0 14.5C0 22.5007 6.49934 29 14.5 29C22.5007 29 29 22.5007 29 14.5C29 6.49934 22.5007 0 14.5 0ZM14.5 1.26087C21.8192 1.26087 27.7391 7.18076 27.7391 14.5C27.7391 18.1153 26.2906 21.3854 23.9467 23.7731C22.7899 22.9281 21.3723 22.5237 20.1702 22.1194C19.4925 21.8915 18.8813 21.6664 18.4353 21.4102C18.0274 21.1758 17.8122 20.9292 17.6805 20.6504C18.6855 20.5191 19.6662 20.36 20.3759 20.1013C20.8098 19.9431 21.1761 19.7688 21.4754 19.5422C21.7748 19.3157 22.0652 18.9919 22.0652 18.5264C22.0652 18.4385 22.0468 18.3516 22.0111 18.2712C21.9755 18.1908 21.9235 18.1188 21.8584 18.0597C21.8043 18.0108 21.6673 17.7688 21.5887 17.3431C21.5101 16.9174 21.4732 16.337 21.4631 15.6734C21.4428 14.3463 21.5211 12.6843 21.4508 11.0523C21.3805 9.42031 21.1762 7.80949 20.4854 6.53214C19.8195 5.30067 18.5771 4.45174 16.8555 4.44875C16.2926 4.05953 15.5351 3.79615 14.5579 3.79615C14.5427 3.79601 14.5275 3.79643 14.5123 3.79738C12.1604 3.96643 10.5294 4.92133 9.51439 6.27603C8.49939 7.63073 8.07967 9.32354 7.87797 10.9969C7.67627 12.6703 7.69624 14.3445 7.63787 15.6784C7.60868 16.3453 7.5581 16.927 7.46671 17.3567C7.37532 17.7863 7.23421 18.035 7.14657 18.1127C7.07995 18.1719 7.02663 18.2445 6.99012 18.3258C6.95361 18.4071 6.93475 18.4952 6.93478 18.5843C6.93478 19.0411 7.2137 19.4429 7.5369 19.6838C7.8601 19.9248 8.24279 20.0763 8.68202 20.2072C9.39131 20.4185 10.3323 20.5391 11.2838 20.6627C11.1552 20.9531 10.9292 21.2009 10.5155 21.4385C10.0757 21.6911 9.47311 21.9129 8.80269 22.1366C7.61351 22.5334 6.20734 22.9301 5.05333 23.7731C2.70938 21.3854 1.26087 18.1153 1.26087 14.5C1.26087 7.18076 7.18076 1.26087 14.5 1.26087ZM14.58 5.06072C15.426 5.0662 16.0444 5.33444 16.2854 5.54093C16.4054 5.6438 16.5597 5.69785 16.7176 5.69238C18.1593 5.64131 18.8561 6.16801 19.3773 7.13179C19.8984 8.09558 20.1242 9.55283 20.1912 11.1065C20.2581 12.6601 20.181 14.3024 20.2022 15.6931C20.2129 16.3885 20.247 17.0206 20.3488 17.5721C20.4149 17.9307 20.534 18.25 20.6997 18.5436C20.5576 18.6488 20.2955 18.7885 19.9437 18.9167C19.2262 19.1783 18.1636 19.4059 16.9639 19.5176C16.8075 19.532 16.6622 19.6043 16.5563 19.7202C16.4504 19.8361 16.3916 19.9874 16.3913 20.1444V20.8043C16.3914 20.8814 16.4056 20.9578 16.4332 21.0297C16.689 21.6987 17.2168 22.1631 17.8073 22.5023C18.3979 22.8416 19.0728 23.0813 19.7676 23.315C20.9098 23.6992 22.096 24.0792 22.9936 24.6559C20.6954 26.5793 17.7358 27.7391 14.5 27.7391C11.2642 27.7391 8.30455 26.5793 6.00637 24.6559C6.89981 24.0817 8.07162 23.7093 9.20164 23.3322C9.88926 23.1028 10.5575 22.8684 11.1434 22.5319C11.7293 22.1954 12.2541 21.73 12.509 21.0629C12.524 21.0239 12.5352 20.9835 12.5422 20.9423C12.6058 20.5618 12.6087 20.3177 12.6087 20.1444C12.6085 19.9901 12.5518 19.8412 12.4492 19.7259C12.3467 19.6106 12.2054 19.5369 12.0521 19.5189C10.8479 19.3756 9.76284 19.2142 9.04157 18.9992C8.68093 18.8918 8.41546 18.7661 8.29046 18.6729C8.18644 18.5954 8.20752 18.6019 8.21166 18.5991C8.40589 18.2923 8.61965 17.999 8.70049 17.6189C8.81902 17.0616 8.8671 16.4285 8.8975 15.7338C8.95832 14.3443 8.94184 12.7099 9.13022 11.1471C9.3186 9.5843 9.71519 8.11166 10.5241 7.03206C11.3294 5.95724 12.5282 5.21405 14.58 5.06072Z"/></svg>
        <span class="icon__fallback-text">
          {%- if customer -%}
            {{ 'layout.customer.account' | t }}
          {%- else -%}
            {{ 'layout.customer.log_in' | t }}
          {%- endif -%}
        </span>
      </a>
    {%- endif -%}

    {%- if menu_alignment == 'left'
       or menu_alignment == 'left-center'
       or menu_alignment == 'right' -%}
      <button
        type="button"
        class="site-nav__link site-nav__link--icon js-toggle-slide-nav{% if menu_alignment == 'left' or menu_alignment == 'left-center' or menu_alignment == 'right' %} medium-up--hide{% endif %}{% if mobile_menu_style == 'thumb' or menu_alignment == 'right' %} hide{% endif %}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path d="M7 15h51M7 32h43M7 49h51"/></svg>
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
        <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
      </button>
    {%- endif -%}

    <a href="#swym-wishlist" class="site-nav__link site-nav__link--icon swym-wishlist">
      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M30 14C17.8854 14 8 23.8854 8 36C8 44.1927 14.1771 51.9063 21.7031 59.8177C29.2292 67.7292 38.4948 75.7396 45.8802 83.1198C47.0521 84.2917 48.9479 84.2917 50.1198 83.1198C57.5052 75.7396 66.7708 67.7292 74.2969 59.8177C81.8229 51.9063 88 44.1927 88 36C88 23.8854 78.1146 14 66 14C59.0469 14 52.9948 17.7344 48 24.0729C43.0052 17.7344 36.9531 14 30 14ZM30 20C35.8594 20 40.7344 23.1146 45.4635 30.599C46.0156 31.4687 46.974 31.9948 48 31.9948C49.026 31.9948 49.9844 31.4687 50.5365 30.599C55.2656 23.1146 60.1406 20 66 20C74.875 20 82 27.125 82 36C82 40.8073 77.1771 48.0937 69.9531 55.6823C63.3646 62.6042 55.1823 69.8333 48 76.8385C40.8177 69.8333 32.6354 62.6042 26.0469 55.6823C18.8229 48.0937 14 40.8073 14 36C14 27.125 21.125 20 30 20Z" fill="#2D2D2D"/>
      </svg>

<!--       <svg class="icon" viewBox="0 0 50 50" focusable="false" fill="currentColor">
        <path d="M25.2931 42.5836L8.22699 25.5175C6.31775 23.6083 5.26611 21.0698 5.26611 18.3692C5.26611 15.6687 6.31775 13.1306 8.22699 11.2209C10.1362 9.31126 12.6748 8.26006 15.3753 8.26006C18.0758 8.26006 20.6143 9.3117 22.5236 11.2209L25.2931 13.9904L28.0626 11.2209C29.9718 9.31126 32.5108 8.26006 35.2113 8.26006C37.9118 8.26006 40.4499 9.3117 42.3596 11.2209C44.2693 13.1302 45.32 15.6691 45.32 18.3692C45.32 21.0693 44.2684 23.6078 42.3592 25.5175L25.2931 42.5836ZM15.3753 9.15015C12.9129 9.15015 10.5977 10.1092 8.85672 11.8502C7.11571 13.5912 6.1562 15.9068 6.1562 18.3692C6.1562 20.8317 7.11527 23.1468 8.85628 24.8878L25.2931 41.3246L41.7299 24.8878C43.4709 23.1468 44.4299 20.8321 44.4299 18.3692C44.4299 15.9064 43.4709 13.5917 41.7299 11.8502C39.9884 10.1092 37.6729 9.15015 35.2109 9.15015C32.7484 9.15015 30.4333 10.1092 28.6919 11.8502L25.2931 15.2495L21.8943 11.8507C20.1528 10.1092 17.8381 9.15015 15.3753 9.15015Z" fill="currentColor" fill-rule="nonzero" stroke="currentColor" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.1" vectornator:shadowAngle="1.5708" vectornator:shadowColor="#000000" vectornator:shadowOffset="10" vectornator:shadowOpacity="0.33" vectornator:shadowRadius="10"/>
      </svg> -->
      {% comment %} <span class="swym-whishlist-icon"></span> {% endcomment %}
    </a>

    {%- unless settings.cart_type == 'sticky' -%}
      <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon site-nav__link--cart js-drawer-open-cart js-no-transition cart-new-style" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }}">
        <span class="cart-link">
          {%- if settings.cart_icon == 'cart' -%}
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 64 64"><path d="M14 17.44h46.79l-7.94 25.61H20.96l-9.65-35.1H3"/><circle cx="27" cy="53" r="2"/><circle cx="47" cy="53" r="2"/></svg>
          {%- else -%}
            {% comment %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag" viewBox="0 0 64 64"><g fill="none" stroke="#000" stroke-width="2"><path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20"/><path d="M14.74 18h36.51l3.59 36.73h-43.7z"/></g></svg> {% endcomment %}
          <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M46 4C36.7708 4 29.1197 11.026 28.1197 20H24C19.375 20 15.526 23.4688 15.0468 28.0677L10.0468 76.0677C9.7812 78.599 10.6093 81.1354 12.3125 83.026C14.0156 84.9167 16.4583 86 19 86H77C79.5416 86 81.9843 84.9167 83.6875 83.026C85.3906 81.1354 86.2135 78.599 85.9479 76.0677L80.9531 28.0677C80.4739 23.4688 76.625 20 72 20H67.9062C67.9687 20.6615 68 21.3281 68 22V26H72C73.5416 26 74.8229 27.1563 74.9843 28.6927L79.9843 76.6927C80.0729 77.5365 79.7968 78.3802 79.2291 79.0052C78.6614 79.6354 77.8489 80 77 80H19C18.151 80 17.3385 79.6406 16.776 79.0104C16.2031 78.3802 15.927 77.5365 16.0156 76.6927L21.0156 28.6927C21.177 27.1563 22.4583 26 24 26H28V33C27.9843 34.0833 28.552 35.0885 29.4895 35.6354C30.4218 36.1771 31.5781 36.1771 32.5104 35.6354C33.4479 35.0885 34.0156 34.0833 34 33V22C34 15.3385 39.3385 10 46 10C51.9791 10 56.8802 14.3021 57.8229 20H38.2656C38.0989 20.6406 38 21.3073 38 22V26H58V33C57.9843 34.0833 58.552 35.0885 59.4895 35.6354C60.4218 36.1771 61.5781 36.1771 62.5104 35.6354C63.4479 35.0885 64.0156 34.0833 64 33V22C64 12.0937 55.9062 4 46 4Z" fill="#2D2D2D"/>
          </svg>
            {%- endif -%}
          <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
          <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}">
            <span class="cart-link__bubble-num" aria-hidden="true">
              {{ cart.item_count }}
            </span>
          </span>
        </span>
      </a>
    {%- endunless -%}
  </div>
</div>