{%- comment -%}

When using this snippet, pass a string using the "with” parameter to identify
what SVG element you want to display.
EX: {%- include 'svg-definitions' with 'shopify-logo' -%}

The string will be used as the condition in the case control flow tag below and used
in writing the SVG class attribute.
EX: class="shopify-logo-svg"

{%- endcomment -%}

{%- assign icon = svg-definitions -%}
{%- case icon -%}
  {%- when 'lock-icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg {{ icon }}-svg" viewBox="0 0 17 20" version="1.1" aria-hidden="true">
      <title>Lock icon</title>
      <path fill="#FFFFFF" d="M15.725,8.3333333 L15.3,8.3333333 L15.3,6.875 C15.3,3.02 12.3131,0 8.5,0 C4.6869,0 1.7,3.02 1.7,6.875 L1.7,8.3333333 L1.275,8.3333333 C0.5712,8.3333333 0,8.8933333 0,9.5833333 L0,18.75 C0,19.44 0.5712,20 1.275,20 L15.725,20 C16.4288,20 17,19.44 17,18.75 L17,9.5833333 C17,8.8933333 16.4288,8.3333333 15.725,8.3333333 L15.725,8.3333333 L15.725,8.3333333 Z M4.25,6.875 C4.25,4.3808333 6.07665,2.5 8.5,2.5 C10.92335,2.5 12.75,4.3808333 12.75,6.875 L12.75,8.3333333 L4.25,8.3333333 L4.25,6.875 L4.25,6.875 Z M10.2,15.0166667 C10.2,15.9275 9.44605,16.6666667 8.517,16.6666667 L8.483,16.6666667 C7.55395,16.6666667 6.8,15.9275 6.8,15.0166667 L6.8,13.3166667 C6.8,12.4058333 7.55395,11.6666667 8.483,11.6666667 L8.517,11.6666667 C9.44605,11.6666667 10.2,12.4058333 10.2,13.3166667 L10.2,15.0166667 L10.2,15.0166667 Z"/>
    </svg>

  {%- when 'model-xr' -%}
    <svg class="icon icon-svg {{ icon }}-svg" width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="icon-3d-badge-full-color-element" d="M6.99998 0.133975L13.8121 4.06698V11.933L6.99998 15.866L0.187819 11.933V4.06698L6.99998 0.133975ZM6.99998 1.86603L1.68782 4.933V11.067L6.99998 14.1339L12.3121 11.067V4.933L6.99998 1.86603Z" fill="#1F2021"/>
      <path class="icon-3d-badge-full-color-element" d="M7 15V7.67713C7.64559 7.27897 7.64559 7.27897 7.64559 7.27897L13.2222 4.11109V11.4444L7 15Z" fill="#1F2021"/>
    </svg>

  {%- when 'video' or 'external_video' -%}
    <svg class="icon icon-svg {{ icon }}-svg" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 41H41V1H1V41Z"/>
      <path class="icon-video-badge-full-color-outline" d="M0.5 41V41.5H1H41H41.5V41V1V0.5H41H1H0.5V1V41Z"/>
      <path class="icon-video-badge-full-color-element" d="M16.5075 12.888C15.8409 12.4953 15 12.976 15 13.7496V28.1404C15 28.9373 15.8866 29.414 16.5514 28.9746L28.064 21.3653C28.6808 20.9577 28.6572 20.0447 28.0201 19.6695L16.5075 12.888Z"/>
    </svg>

  {%- when 'model' -%}
    <svg class="icon icon-svg {{ icon }}-svg" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 41H41V1H1V41Z"/>
      <path class="icon-3d-badge-full-color-outline" d="M0.5 41V41.5H1H41H41.5V41V1V0.5H41H1H0.5V1V41Z"/>
      <g>
        <path class="icon-3d-badge-full-color-element" d="M21 11.134L29.5442 16.067V25.933L21 30.866L12.4558 25.933V16.067L21 11.134ZM21 12.866L13.9558 16.933V25.0669L21 29.1339L28.0442 25.0669V16.933L21 12.866Z"/>
        <path class="icon-3d-badge-full-color-element" d="M20.9998 30V20.5849C21.8299 20.073 21.8299 20.073 21.8299 20.073L28.9998 16V25.4286L20.9998 30Z"/>
      </g>
    </svg>
          
  {%- when 'check-3' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="22" viewBox="0 0 28 22" fill="none">
      <path d="M25.5941 0.71875L9.12508 17.1878L2.86558 10.9283L0.803711 12.9902L9.12508 21.3116L27.656 2.78062L25.5941 0.71875Z" fill="#378C00"/>
    </svg>

  {%- when 'location-pin' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 30 30" role="presentation">
      <path d="M15 2C8.925 2 4 6.925 4 13C4 20.234 11.1528 23.6979 12.0488 24.5039C12.9638 25.3269 13.7184 27.1708 14.0234 28.2168C14.1714 28.7248 14.588 28.9812 15 28.9922C15.413 28.9802 15.8286 28.7238 15.9766 28.2168C16.2816 27.1708 17.0362 25.3279 17.9512 24.5039C18.8472 23.6979 26 20.234 26 13C26 6.925 21.075 2 15 2ZM15.002 8C15.1075 8 15.2118 8.03311 15.3008 8.09961L19.3008 11.0996C19.5208 11.2656 19.5654 11.5798 19.4004 11.8008C19.3024 11.9318 19.151 12 19 12V17H16V14H14V17H11V11.9902C10.848 11.9902 10.6976 11.9318 10.5996 11.8008C10.4346 11.5798 10.4802 11.2656 10.7012 11.0996L14.7012 8.09961C14.7902 8.03311 14.8965 8 15.002 8Z" fill="currentColor"/>
    </svg>

  {%- when 'hand-with-card' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 30 30" role="presentation">
      <path d="M12 5C10.895 5 10 5.895 10 7H30C30 5.895 29.105 5 28 5H12ZM10 7H9.7207C7.9397 7 5.70055 7.16914 4.18555 8.49414C3.01155 9.51914 0 12.0723 0 12.0723V14.6387C0 14.6387 4.30295 11.047 5.50195 9.99805C6.59995 9.03905 8.6197 9 9.7207 9H10V7ZM10 9V16.6543L15.8359 13.377L15.8379 13.3789C16.1659 13.1429 16.565 13 17 13C18.105 13 19 13.895 19 15C19 15.692 18.6473 16.3012 18.1133 16.6602L15.0762 19L11.5039 21.752C10.4549 22.56 9.16775 22.998 7.84375 22.998H4V23H0V24.998H2H7.84375C9.59975 24.998 11.3336 24.4079 12.7246 23.3359L18.3555 19H28C29.105 19 30 18.105 30 17V9H10Z" fill="currentColor"/>
    </svg>

  {%- when 'success' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 30 30" role="presentation">
      <path d="M4 4V24C4 25.1 4.89 26 6 26H14.5098C14.1798 25.06 14 24.05 14 23C14 22.1 14.1291 21.2397 14.3691 20.4297C15.4791 16.7097 18.91 14 23 14C24.06 14 25.06 14.1798 26 14.5098V4H4ZM12 6H18C18.55 6 19 6.45 19 7C19 7.55 18.55 8 18 8H12C11.45 8 11 7.55 11 7C11 6.45 11.45 6 12 6ZM23 16C19.82 16 17.1491 18.11 16.2891 21C16.0991 21.63 16 22.3 16 23C16 24.08 16.2397 25.09 16.6797 26C17.7997 28.37 20.2 30 23 30C26.87 30 30 26.87 30 23C30 20.2 28.37 17.7997 26 16.6797C25.09 16.2397 24.08 16 23 16ZM26 20C26.26 20 26.5109 20.0991 26.7109 20.2891C27.1009 20.6791 27.1009 21.3209 26.7109 21.7109L26 22.4199L22.7109 25.7109C22.5109 25.9009 22.26 26 22 26C21.74 26 21.4891 25.9009 21.2891 25.7109L19.2891 23.7109C18.8991 23.3209 18.8991 22.6791 19.2891 22.2891C19.6791 21.8991 20.3209 21.8991 20.7109 22.2891L22 23.5898L24.5801 21L25.2891 20.2891C25.4891 20.0991 25.74 20 26 20ZM15 25.9609C15 25.9709 14.9905 25.99 14.9805 26H15.0195C15.0095 25.99 15 25.9709 15 25.9609Z" fill="currentColor"/>
    </svg>
{%- endcase -%}
