{%- liquid
  case section.settings.speed
    when 'fast'
      assign mobile_speed = 4.6
      assign desktop_speed = 6
    when 'normal'
      assign mobile_speed = 6.6
      assign desktop_speed = 10
    when 'slow'
      assign mobile_speed = 10
      assign desktop_speed = 15
  endcase

  assign section_text = section.settings.text
-%}

{%- style -%}
  {% if section.settings.color_scheme == 'button' %}
    .marquee--{{ section.id }} {
      background: {{ settings.color_button }};
      color: {{ settings.color_button_text }};
    }
  {% endif %}
  .marquee--{{ section.id }} .marquee__text {
    font-size: {{ section.settings.text_size }}px;
    animation-duration: {{ desktop_speed }}s;
  }
  @media screen and (max-width: 768px) {
    .marquee--{{ section.id }} .marquee__text {
      font-size: {{ section.settings.text_size | times: 0.6 }}px;
      animation-duration: {{ mobile_speed }}s;
    }
  }
  {% unless section.settings.text_spacing %}
    .marquee--{{ section.id }} .marquee__text span {
      padding: 0;
    }
  {% endunless %}
  {% if section_text == blank or section_text == '' %}
    #shopify-section-{{ section.id }} {
      display: none;
    }
  {% endif %}
{%- endstyle -%}

<div class="marquee marquee--{{ section.id }}">
  {%- capture markup -%}
    <div class="marquee__container">
      <div class="marquee__text marquee__text--{{ section.settings.direction }}">
        <span>{{ section_text }}</span>
        <span aria-hidden="true">{{ section_text }}</span>
        <span aria-hidden="true">{{ section_text }}</span>
        <span aria-hidden="true">{{ section_text }}</span>
      </div>
    </div>
  {%- endcapture -%}

  {%- if section.settings.link != blank -%}
    <a href="{{ section.settings.link }}">
      {{ markup }}
    </a>
  {%- else -%}
    {{ markup }}
  {%- endif -%}

</div>

{% schema %}
{
  "name": "t:sections.marquee.name",
  "class": "index-section--flush",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "t:sections.marquee.settings.text.label",
      "default": "Free shipping and returns"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.marquee.settings.link.label"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "t:sections.marquee.settings.text_size.label",
      "default": 70,
      "min": 20,
      "max": 150,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "text_spacing",
      "label": "t:sections.marquee.settings.text_spacing.label",
      "default": true
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.marquee.settings.color_scheme.label",
      "default": "button",
      "options": [
        {
          "label": "t:sections.marquee.settings.color_scheme.options.button.label",
          "value": "button"
        },
        {
          "label": "t:sections.marquee.settings.color_scheme.options.text.label",
          "value": "text"
        }
      ]
    },
    {
      "type": "select",
      "id": "direction",
      "label": "t:sections.marquee.settings.direction.label",
      "default": "left",
      "options": [
        {
          "label": "t:sections.marquee.settings.direction.options.left.label",
          "value": "left"
        },
        {
          "label": "t:sections.marquee.settings.direction.options.right.label",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "speed",
      "label": "t:sections.marquee.settings.speed.label",
      "default": "normal",
      "options": [
        {
          "label": "t:sections.marquee.settings.speed.options.fast.label",
          "value": "fast"
        },
        {
          "label": "t:sections.marquee.settings.speed.options.normal.label",
          "value": "normal"
        },
        {
          "label": "t:sections.marquee.settings.speed.options.slow.label",
          "value": "slow"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.marquee.presets.scrolling_text.name"
    }
  ]
}
{% endschema %}
