<div class="index-section index-section--alt newsletter-section newsletter-{{ section.id }}" data-aos>
  <div class="page-width text-center">
    {%- for block in section.blocks -%}
      <div class="theme-block" {{ block.shopify_attributes }}>
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'title' -%}
            {%- if block.settings.title != blank -%}
              <div class="h2 appear-delay" {{ block.shopify_attributes }}>
                {{ block.settings.title }}
              </div>
            {%- endif -%}
          {%- when 'text' -%}
            {%- if block.settings.text != blank -%}
              <div class="rte rte--block appear-delay-1" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            {%- endif -%}
          {%- when 'text_raw' -%}
            {%- if block.settings.text_raw != blank -%}
              <div class="rte rte--block appear-delay-1" {{ block.shopify_attributes }}>
                {{ block.settings.text_raw }}
              </div>
            {%- endif -%}
          {%- when 'form' -%}
            <div class="appear-delay-2" {{ block.shopify_attributes }}>
              {%- render 'newsletter-form', section_id: section.id, snippet_context: 'section' -%}
            </div>
          {%- when 'share_buttons' -%}
            {%- render 'social-sharing' -%}
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.newsletter.blocks.title.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.newsletter.blocks.title.settings.title.label",
          "default": "Sign up and save"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.newsletter.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.newsletter.blocks.text.settings.text.label",
          "default": "<p>Let customers know about the key benefits of joining your newsletter.</p>"
        }
      ]
    },
    {
      "type": "text_raw",
      "name": "t:sections.newsletter.blocks.text_raw.name",
      "settings": [
        {
          "type": "textarea",
          "id": "text_raw",
          "label": "t:sections.newsletter.blocks.text_raw.settings.text_raw.label",
          "default": "<p>Let customers know about the key benefits of joining your newsletter.</p>"
        }
      ]
    },
    {
      "type": "form",
      "name": "t:sections.newsletter.blocks.form.name",
      "limit": 1
    },
    {
      "type": "share_buttons",
      "name": "t:sections.newsletter.blocks.share_buttons.name",
      "limit": 1
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.content"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.email_signup.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        },
        {
          "type": "form"
        }
      ]
    }
  ]
}
{% endschema %}
